
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1900px;
}
.nav-container{
    max-width: 1440px;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;  
}
.logo-container{
    display: flex;
    width: 50%;
    justify-content:center;
    align-items: center;
}
.logo-container img{
    width: 70px;
    height: 100%;
    margin-right: 20px;
}
.logo-container p{
    font-size: 25px;
    font-weight: 500;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content:end;
    align-items: center; 
    gap:30px;
}
.nav-item-container a{
    text-decoration: none;
    font-size: 15px;
    color:black;
}
.nav-item-container .follow-btn{
    background-color:rgba(11, 2, 35, 0.10);;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
}   
 /*Nav bar ends  */




 /* Banner part start */
 .banner-container{ 
    max-width: 1900px;
    min-height:50px;
    display: flex;
    justify-content:space-between;
    gap: 200px;
}
.banner-text{
    width:50%;
    justify-content: center;
    text-align:center;
    align-items:center;
    background-image: url("../images/Group\ 14.png");
    background-size: cover;
}
.banner-img{ 
    width: 50%;
    align-content:center;
}
.banner-img img{
    width: 50%;
    object-fit: cover;  
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}
.banner-text p{
    font-size: 14px;
    margin-top: -10px;
    color: #534C64;
}
.banner-btn{
    background-color:#F948B2 ;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius:20px ;
    color: #FFF;
}
#btn2{
    background-color:#4EC5F7;
}
.banner-container h2{
    margin-bottom: -15px;
}
/* banner ends */



/* online games start */
.online-games-container{
    max-width: 1900px;
    min-height: 50px;
    text-align: center;
    margin: 20px auto; 
}
.online-games-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.online-games-img img{
    height: 200px;
}
.online-games-img p{
    font-size: 12px;
}
.funny-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* online games end */


/* play start */
.play-instant-section{
    max-width: 1900px;
    /* min-height: 200px; */
    margin: 70px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.play-text{
    width: 50%;
    text-align: center;
}
.play-img1{
    width: 50%;
    position: relative;
    margin: 0 auto;
}
.play-img2{
    width: 180px;
    height: 220px;
    position: absolute;
    bottom:-63%;
    left: 49%;
}
.play-heading{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* play end */


/* catagory start */
.catagory-container{
    max-width: 1900px;
    min-height: 120px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2px;
    align-items: center;
    margin: 100px 140px;
}
.catagory-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.cata-img{
    height:35px;
    width: 35px;
}
.catagory-type:hover{
    border: 1px solid #F948B2 ;
    border-radius: 30px;
    color:#F948B2;
}
/* catagory end */



/* footer start */

.foot-container{
    background-color: #0B0223;
    min-height: 300px;
    max-width: 1900px;
    margin: 0 auto;
}
.foot-logo{
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}
.option-foot{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px;  
}
.option-foot a{
    text-decoration:none;
    color: white;
}
.icon-container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 50px;
    font-size: 30px;
}
.option-foot2{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 30px;
}
.option-foot2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
}
.credit{
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}